BasedOnStyle: Microsoft
IndentWidth: 4
IndentAccessModifiers: false
IndentCaseLabels: false
AccessModifierOffset: -4
TabWidth: 4
ColumnLimit: 120
SpaceAfterCStyleCast: true
AllowShortFunctionsOnASingleLine: Empty
BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: true
  AfterControlStatement: true
  AfterFunction: true
  AfterStruct: true
  BeforeElse: true
  BeforeWhile: true
SortIncludes: Never
